$primary: #2e8ff0;
$light: #fff;
$danger: #ef7da0;
$success: #66bb6a;

$text: #3f4254;
$light-text: #a4a4b5;

$shadow: rgba(82, 63, 105, 0.05);

$secondary: (
  1: #f4f5f8,
  2: #f3f6f9,
  3: #eff0f4,
  4: #eef0f8,
  5: #ebedf3,
);

$borderRadius: 6px;