@use "sass:map";

@import "../../../../styles/common";
@import "../../../../styles/variables";

.manage-users {
  min-height: 100vh;
  background-color: map.get($secondary, 4);
}

.columns {
  display: flex;
  gap: 24px;
  padding: 24px;

  &__left {
    flex: 3;
  }

  &__right {
    margin-top: 58px;
    flex: 1;

    &:has(.user-view),
    &:has(.explanation) {
      @extend .block;
    }
  }
}

.create-user-button {
  margin: 0 0 16px auto;
  display: block;
}
