.user-view {
  padding: 24px;
  height: 100%;
  position: relative;

  &__header {
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
      font-size: 16px;
    }
  }
}
